@model IEnumerable<CommonLayer.ResponseModel.ProductResponseModel>
@{
    ViewBag.Title = "ViewOrderedProducts";
}


@if (Model.Count() > 0)
{
    <h2 class="text-center text-info">Products In Your Cart</h2>
    <div class=" table-responsive">
        <table class="table text-center table-hover table-striped">
            <tr class="text-capitalize">

                <td>Sr.No</td>
                <td>Image</td>
                <td>Name</td>
                <td>Price</td>
                <td>Quantity</td>
                <td>TotalPrice</td>
                <td><a href="#"><button class="btn btn-danger"><i class="fa fa-trash"></i> Clear cart</button></a></td>

            </tr>
            @{int index = 0; int GrandTotal = 0, OrderProducts = 1;}
            @foreach (var item in Model)
            {
                <tr>
                    <td> @{ index++; }@index</td>
                    <td><img class="img img-thumbnail" src="@item.Image" style="width:50px;height:50px"></td>
                    <td>@item.Name</td>
                    <td>@item.Price</td>
                    <td>
                        <input type="hidden" value="@item.Quantity" id="Quantity">
                        <input type="text" value="@OrderProducts" id="numberofProduct" class="form-control" style="width">
                    </td>

                    <td>
                        @{
                            GrandTotal = GrandTotal + @item.Price * @OrderProducts;
                        }
                        @(@item.Price * @OrderProducts)
                    </td>
                    <td><a id="deleteItem" class="deleteItem" data-toggle="modal" data-target="#exampleModal" data-path="@Url.Action("RemoveProdcutOrder", "Product", new { Id = item.Id })"><button class="btn btn-danger"><i class="fa fa-trash"></i></button></a></td>
                </tr>

                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header bg-danger">
                                <h5 class="modal-title" id="exampleModalLabel">Delete Confirmation</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Are you sure you want to delete this item?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                <a href="@Url.Action("RemoveProdcutOrder", "Product", new { Id = item.Id })"><button id="btnContinueDelete" type="button" class="btn btn-danger">Delete</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <tr>
                <td colspan="2"><a href="@Url.Action("ViewProduct", "Product")"> <button class="btn btn-success"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Continue shopping</button></a></td>
                <td colspan="3">Grand Total </td>
                <td>
                    <i class="fas fa-rupee-sign"></i> @GrandTotal
                </td>
                <td colspan="2"> <a href=@Url.Action("Checkout","Product")><button class="btn btn-info"> <span class="glyphicon glyphicon-credit-card"></span> Checkout</button></a></td>
            </tr>

        </table>
    </div>
}
else
{
    <h2 class="text-center text-muted">Cart is Empty</h2>
}

